{% extends 'base.html' %}
{% load static %}

{% block headscript %}
<link rel="stylesheet" type="text/css" href="{% static 'style/request.css' %}">
{% endblock %}

{% block content %}
    <div class="wrap">
        <h1>펀딩 신청</h1>
        <form action="{% url 'funding_create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <dl>
                <dt>제목</dt>
                <dd><input type="text" class="input-box" name="title" placeholder="Title" required></dd>
            </dl>
            <dl>
                <dt>이름</dt>
                <dd><input type="text" class="input-box" name="name" placeholder="user name" required></dd>
            </dl>
            <dl>
                <dt>신청 내용</dt>
                <dd><input type="text" name="bodyText" class="desc" required></dd>
            </dl>
            <dl>
                <dt>희망 물품</dt>
                <dd><input type="text" class="input-box" name="productType" placeholder="Type of product" required></dd>
            </dl>
            <dl>
                <dt>희망 수량</dt>
                <dd><input type="number" class="input-box" name="productNum" placeholder="num" required></dd>
            </dl>
            <dl>
                <dt>이메일</dt>
                <dd>
                    <input type="text" class="input-box" name="email" placeholder="email" required> 
                </dd>
            </dl>
            <dl>
                <dt>희망 수령 장소</dt>
                <dd>
                    <input type="text" class="input-box" name="address" placeholder="destination"required> 
                </dd>
            </dl>
            <dl>
                <dt>관련 이미지</dt>
                <dd>
                    <input class="input-img" type="file" name="picture" required>
                </dd>
            </dl>

            <input type="submit" value="제출">
        </form>
    </div>
    <!-- <h1>펀딩 글 작성 페이지입니다</h1>
    <form action="{% url 'funding_create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <span>펀딩 프로젝트 이름</span>
    <input type="text" name="title" placeholder="펀딩 이름" required><br>
    <span>펀딩 설명</span>
    <input type="text" name="description" placeholder="펀딩 설명" required><br>
    <span>펀딩 프로젝트 사진</span>
    <input type="file" name="photo" required><br>
    <button type="submit">작성 완료</button>
    </form> -->
{% endblock %}