{% extends 'base.html' %}
{% load static %}

{% block headscript %}
<link rel="stylesheet" type="text/css" href="{% static 'style/request.css' %}">
{% endblock %}

{% block content %}
    <div class="wrap">
        <h1>펀딩 신청</h1>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <dl>
                <dt>{{form.title.label_tag}}</dt>
                <dd>{{form.title}}</dd>
            </dl>

            <!-- <dl>
                <dt>{{form.name.label_tag}}</dt>
                <dd>{{form.name}}</dd>
            </dl> -->

            <dl>
                <dt>{{form.bodyText.label_tag}}</dt>
                <dd>{{form.bodyText}}</dd>
            </dl>

            <dl>
                <dt>{{form.productType.label_tag}}</dt>
                <dd>{{form.productType}}</dd>
            </dl>

            <dl>
                <dt>{{form.productNum.label_tag}}</dt>
                <dd>{{form.productNum}}</dd>
            </dl>

            <!-- <dl>
                <dt>{{form.email.label_tag}}</dt>
                <dd>{{form.email}}</dd>
            </dl> -->

            <dl>
                <dt>{{form.address.label_tag}}</dt>
                <dd>{{form.address}}</dd>
            </dl>

            <dl>
                <dt>{{form.picture.label_tag}}</dt>
                <dd>{{form.picture}}</dd>
            </dl>

            <input type="submit" value="제출">
        </form>
    </div>
{% endblock %}