{% extends 'base.html' %}
{% load static %}

{% block headscript %}
<style>
    /* https://docs.djangoproject.com/en/3.1/topics/forms/ */
    label {
        color: blue;
    }

    #id_name {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
</style>
{% endblock %}

{% block content %}

<h1>글쓰기</h1>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <button type="submit">Write</button>
</form>
{% endblock %}