{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3><a href="{% url 'update' post.pk %}">수정하기</a> <a href="{% url 'delete' post.pk %}">삭제하기</a></h3>
<h3><a href="{% url 'funding_create' post.pk %}">채택하기</a></h3>

<h1> 상세 페이지</h1>
<br>
<p>id : {{post.pk}}</p>
<img src="{{ post.picture.url }}" style="max-height: 300px;">
<h2>title : {{post.title}}</h2>
<h3>name : {{post.name}}</h3>
<p>email : {{post.email}}</p>
<p>address : {{post.address}}</p>
<p>productType : {{post.productType}}</p>
<p>productNum : {{post.productNum}}</p>
<p>bodyText : {{post.bodyText}}</p>
<br>
<br>
{% endblock %}