{% extends 'base.html' %}
{% load static %}

{% block headscript %}
<link rel="stylesheet" type="text/css" href="{% static 'style/list.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Request List</h1>
    <!-- <h3><a href="{% url 'create' %}">글쓰기</a></h3> -->
    <div class="card-container">
        {% for post in posts.all %}
        <a href="{% url 'detail' post.id %}" class="funding-link">
            <img src="{{ post.picture.url }}" class="funding-img">
            <div class="funding-desc">
                <b class="request-title">{{ post.title }}</b>
                <div class="request-info">
                    <b class="request-type">품목 : {{post.productType}} | </b>
                    <b class="request-deadlint">필요 수량 : {{post.productNum}}</b>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% if error %}
    <script>
        alert('Login is required');
    </script>
{% endif %}
{% endblock %}