{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiveU</title>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{% static 'semantic/semantic.js' %}"></script>
    <script>
        function check(num){
            if(Number(num) ===1){
                document.getElementsByName('organization')[0].disabled=true;
                document.getElementsByName('address')[0].disabled=true;
                document.getElementsByName('organization')[0].required=false;
                document.getElementsByName('address')[0].required=false;
                document.getElementsByName('is_organization')[0].required=false;

            }else{
                document.getElementsByName('organization')[0].disabled=false;
                document.getElementsByName('address')[0].disabled=false;
                document.getElementsByName('organization')[0].required=true;
                document.getElementsByName('address')[0].required=true;
                document.getElementsByName('is_organization')[0].required=true;
            }
        }
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'style/header.css' %}">
</head>

<body>
    <div class="top">
        <b class="logo" onclick="location.href='{% url "funding_list" %}';" style="cursor: pointer">GiveU</b>
        <div>
            {% if user.is_authenticated %}
                <span>{{user.email}}</span>
                <button class="ui positive basic button" onclick="location.href='{% url "logout" %}';">Logout</button>
            {% else %}
                <button class="ui positive basic button" onclick="location.href='{% url "login" %}';">Login</button>
            {% endif %}
            <button class="ui positive basic button" onclick="location.href='{% url "create" %}';">Request</button>
            <button class="ui positive basic button" onclick="location.href='{% url "home" %}';">Discover</button>
            <button class="ui positive basic button" onclick="location.href='{% url "funding_list" %}';">Donate</button>
        </div>
    </div>
    <div class="signup-container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="ui form" id="check-box">
                <div class="inline fields">
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="user" onclick="check(1)" onchange="" checked="checked">
                            <label>개인 회원가입</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" onclick="check(2)" name="user">
                            <label>업체 회원가입</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="signup-box">
                <div>
                    <b class="signup-info">{{form.email.label_tag}}</b>{{form.email}}
                </div>
                <div>
                    <b class="signup-info">{{form.password1.label_tag}}</b>{{form.password1}}
                </div>
                <div>
                    <b class="signup-info">{{form.password2.label_tag}}</b>{{form.password2}}
                </div>
                <div>
                    <b class="signup-info">{{form.phone.label_tag}}</b>{{form.phone}}
                </div>
                <div>
                    <b class="signup-info">{{form.organization.label_tag}}</b>{{form.organization}}
                </div>
                <div>
                    <b class="signup-info">{{form.address.label_tag}}</b>{{form.address}}
                </div>
                <div>
                    <b class="signup-info">{{form.is_organization}}</b>
                </div>
            </div>
            <input type="submit" class="ui primary button" id="signup-btn" value="회원가입">
        </form>
    </div>
</body>

</html>