<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiveU</title>
    <link rel="stylesheet" type="text/css" href="../semantic/semantic.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="../semantic/semantic.js"></script>
    <link rel="stylesheet" type="text/css" href="../style/header.css">
</head>

<body>
    <div class="top">
        <b class="logo">GiveU</b>
        <div>
            <button class="ui positive basic button">기부요청</button>
            <button class="ui positive basic button">살펴보기</button>
            <button class="ui positive basic button">기부하기</button>
        </div>
    </div>
    <div class="bottom">
        <b class="slogan">나눔을 선물해주세요</b>
    </div>
</body>
</html>