<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Request</title>
    <link rel="stylesheet" href="../style/request.css">
</head>
<body>
    <div class="wrap">
        <h1>펀딩 신청</h1>
        <form method="POST">
            <dl>
                <dt name="title">제목</dt>
                <dd><input type="text" name="title" placeholder="Title" required></dd>
            </dl>
            <dl>
                <dt>이름</dt>
                <dd><input type="text" name="name" placeholder="user name" required></dd>
            </dl>
            <dl>
                <dt>신청 내용</dt>
                <dd><input type="text" name="bodytext" class="desc" required></dd>
            </dl>
            <dl>
                <dt>제품 유형</dt>
                <dd><input type="text" name="productType" placeholder="Type of product" required></dd>
            </dl>
            <dl>
                <dt>목표 개수</dt>
                <dd><input type="number" name="productNum" placeholder="goal" required></dd>
            </dl>
            <dl>
                <dt>이메일</dt>
                <dd>
                    <input type="text" name="email" placeholder="email" required> 
                </dd>
            </dl>
            <dl>
                <dt>최종 목적지</dt>
                <dd>
                    <input type="text" name="address" placeholder="destination"required> 
                </dd>
            </dl>
            <dl>
                <dt>사진</dt>
                <dd>
                    <input type="file" name="picture" id="file" required>
                    <label for="file">
                        Choose a picture
                    </label>
                </dd>
            </dl>

            <input type="submit" value="제출">
        </form>
    </div>
    
</body>
</html>