{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiveU</title>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{% static 'semantic/semantic.js' %}"></script>
    {% block headscript %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/header.css' %}">
</head>

<body>
    <div class="top">
        <b class="logo" onclick="location.href='{% url "funding_list" %}';" style="cursor: pointer">GiveU</b>
        <div>
            {% if user.is_authenticated %}
                <span>{{user.email}}&nbsp;&nbsp;</span>
                <button class="ui positive basic button" onclick="location.href='{% url "logout" %}';">Logout</button>
            {% else %}
                <button class="ui positive basic button" onclick="location.href='{% url "login" %}';">Login</button>
            {% endif %}
            <button class="ui positive basic button" onclick="location.href='{% url "create" %}';">Request</button>
            <button class="ui positive basic button" onclick="location.href='{% url "home" %}';">Discover</button>
            <button class="ui positive basic button" onclick="location.href='{% url "funding_list" %}';">Donate</button>
        </div>
    </div>
    <div class="bottom">
        <b class="slogan">Give your anything</b>
    </div>

    {% block content %}
    {% endblock %}
</body>

{% block script %}
{% endblock %}

</html>