<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giveu - 펀딩</title>
</head>

<body>
    <h1>{{ funding.title }}</h1>
    <img src="{{ funding.photo.url }}" style="max-height: 100px;">
    <p>등록일 : {{ funding.created_at }}</p>
    <p>펀딩 설명 : {{ funding.description }}</p>
    <p>펀딩 수 : {{ funding.funding_count }}</p>

    <button>펀딩하기</button><br>
    <a href="{% url 'funding_list' %}"><button>목록으로</button></a>
    <a href="{% url 'funding_update' funding.id %}"><button>수정하기</button></a>
    <a href="{% url 'funding_delete' funding.id %}"><button>삭제하기</button></a>
</body>

</html>