{% extends 'base.html' %}
{% load static %}

{% block headscript %}
<link rel="stylesheet" type="text/css" href="{% static 'style/request.css' %}">
{% endblock %}

{% block content %}
    <div class="wrap">
        <h1>기부 프로젝트 글 작성</h1>
        <form action="{% url 'funding_create' post.pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <dl>
                <dt>제목</dt>
                <dd>{{post.title}}</dd>
            </dl>
            <dl>
                <dt>이름</dt>
                <dd>{{post.name}}</dd>
            </dl>
            <dl>
                <dt>신청 내용</dt>
                <dd>{{post.bodyText}}</dd>
            </dl>
            <dl>
                <dt>물품 유형</dt>
                <dd>{{post.productType}}</dd>
            </dl>
            <dl>
                <dt>목표 물품 수량</dt>
                <dd>{{post.productNum}}</dd>
            </dl>
            <dl>
                <dt>이메일</dt>
                <dd>{{post.email}}</dd>
            </dl>
            <dl>
                <dt>최종 목적지</dt>
                <dd>{{post.address}}</dd>
            </dl>
            <br>
            <dl>
                <dt>관련 이미지</dt>
                <img src="{{post.picture.url}}" style="max-width: 500px; max-height: 300px;">
                <!-- <dd>(관련 사진)</dd> -->
            </dl>
            <!-- 아래는 직접 입력하게 되는 입력 폼입니다. -->
            <dl>
                <dt>업체/단체 명</dt>
                <dd><input type="text" class="input-box" name="community" placeholder="ex. 유니세프" required></dd>
            </dl>
            <dl>
                <dt>물품 받을 주소</dt>
                <dd><input type="text" class="input-box" name="communityAddress" placeholder="ex. 서울특별시..." required></dd>
            </dl>
            <dl>
                <dt>마감 기한</dt>
                <dd><input type="text" class="input-box" name="deadline" placeholder="ex. 2021.02.07" required></dd>
            </dl>

            <input type="submit" value="제출">
        </form>
    </div>
{% endblock %}