{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiveU</title>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{% static 'semantic/semantic.js' %}"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'style/header.css' %}">
</head>

<body>
    <div class="top">
        <b class="logo">GiveU</b>
        <div>
            <button class="ui positive basic button" onclick="location.href='{% url "login" %}';">Login</button>
            <button class="ui positive basic button" onclick="location.href='{% url "create" %}';">Request</button>
            <button class="ui positive basic button" onclick="location.href='{% url "home" %}';">Discover</button>
            <button class="ui positive basic button" onclick="location.href='{% url "funding_list" %}';">Donate</button>
        </div>
    </div>
    <div class="login-container">
            <div class="login-box">
                <form action method="POST" >
                    <div class="login-email">이메일 &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="email" placeholder="email"/></div>
                    <div class="login-password" name="password">비밀번호 &nbsp;<input type="text" name="password" placeholder="password"/></div>
                    <input type="submit" class="ui primary button" id="login-btn" value="로그인"/>
                </form>
            </div>
            <button class="ui secondary basic button" onclick="location.href='{% url "signUp" %}';">회원 가입</button>
    </div>
</body>

</html>