@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
* {
	font-family: 'NanumSquare', sans-serif;
}
body {
	width: 100%;
	height: 100%;
}
.top {
	width: 100%;
	height: 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgb(200, 204, 202);
}
.logo {
	font-size: 1.8rem;
	margin-left: 1%;
	font-weight: 800;
}
.bottom {
	width: 100%;
	height: 40%;
	background-image: url(https://cdn.pixabay.com/index/2021/02/01/19-24-41-250_1920x430.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.85;
}
.slogan {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	font-weight: 900;
	color: white;
}
.login-container {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.login-box {
	width: 35%;
	height: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 10px 20px rgb(100 100 0 / 15%);
	margin-bottom: 1%;
}
.login-email,
.login-password {
	font-size: 1.5rem;
	margin-top: 1%;
	opacity: 0.6;
}
#login-btn {
	margin-left: 30%;
	margin-top: 1%;
	width: 40%;
}
.signup-container {
	font-size: 1.5rem;
	width: 40%;
	height: 80%;
	margin: 0 auto;
	margin-top: 2%;
	box-shadow: 0 10px 20px rgb(100 100 0 / 15%);
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
#check-box {
	margin-top: 25%;
}
.signup-box {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	opacity: 0.6;
}
.signup-info {
	display: table;
	margin-top: 2%;
	margin-bottom: 3%;
}
#signup-btn {
	margin-left: 30%;
	margin-top: 4%;
	width: 40%;
}
